.box-pai {
    display: flex;
    flex-direction: column;
}

.box {
    border:  1.5px solid #ff0000;
    margin: 2vh 3vw;
}

.box-child-1{
    height: 10vh;
}

/* .box-child-2*/
.box-child-2 {
    display: flex;
    flex-direction: row;
}

.box-child-5{
    margin: 2vh 1.5vw;
    border: 1.5px solid #ff0000;
    height: 15vh;
    flex-grow: 1;
}

.box-child-6 {
    margin: 2vh 1.5vw;
    border: 1.5px solid #ff0000;
    height: 15vh;
    flex-grow: 3;

}

/* box-child-2 */

/* .box-child-3 */
.box-child-3 {
   display: flex;
   flex-direction: row;
   border: 1px solid #ff0000;

}

.box-child-3 .box-1{
    height: 20vh;
    border: 1px solid #ff0000;
    margin: 3vh 3vw;
}


.box-child-7 {
    flex-grow: 1;
}

.box-child-8 {
    flex-grow: 1;
}

.box-child-9 {
    flex-grow: 1;
}

.box-child-10 {
    flex-grow: 1;
}


/* .box-child-3 */

.box-child-4 {
    height: 15vh;
}