.box-container {
    display: flex;
    flex-direction: row;

    /*
  
    */
}

.box {
    display: block;
    /*width: 2vw;
    min-width: 5vw;
    height: 15vh;
    margin: 1vh 1vw;*/
    padding: 1vh 1vw;
    color: #fff;
}

.box-1 {
    background-color: blueviolet;
}

.box-2 {
    background-color: brown;
}

.box-3 {
    background-color: crimson;
}

.box-4 {
    background-color: darkolivegreen;
}

.box-5 {
    background-color: black;
}

.box-6 {
    background-color: darkorange;
}

.box-7 {
    background-color: darkslategrey;
}

.box-8 {
    background-color: deepskyblue;
}

.box-9 {
    background-color: lightcoral;
}

.box-10 {
    background-color: purple;
}